%h2(align = "center")= @proyecto.nombre

= form_tag edit_alumno_path(params[:proyecto_id]), :remote => true do
  %table(align = "center")
    %tr
      %td= text_field_tag :id, nil, :placeholder => 'Ingrese el número de control...'
      %td= button_to 'Buscar'

#edit-alumno
