#contact
  %h4 Coordinador de proyectos de innovación.
  %p M.C Olimpo Lúa Madrigal. Departamento de ingeniería mecatrónica.
  %h4 Responsable de la plataforma
  %p Maestro: Reyes Benavides Delgado. Departamento de sistemas y computación.
