#index(align="center")
  #information
    %br
    %h1 Registro de Proyectos para la Expoferia
    %br
    %p Evento a realizarse en la explanada principal del Instituto Tecnológico de Colima el día 25 de Mayo desde las 9 am hasta las 2 pm, donde se expondrán proyectos de innovación en distintas áreas de aplicación.
    %br
    %h4 Fecha de registro:
    %p La fecha límite de registro de proyectos es del 2 al 20 de Mayo.
    %br
    %br
    %h4 Procedimiento de registro:
    %br
    %p Accede al botón de "Registrarse" en la barra de navegación. Inserta un nombre de usuario, contraseña y correo electrónico. Despues accesar al botón "Registrar proyectos" y continua llenando los formularios que se presentan.
  #place(align="center")
    %h4 ¿Cómo llegar a la explanada del Instituto Tecnológico de Colima?
    = image_tag("Untitled 3.jpg")
    %br
    %br
