// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
}

#index{
  width:1212px;
  height:500px;
  font-family:"Helvetica";
  font-size:20px;
}

#place{
  width:606px;
  height:500px;
  float:left;
}

#information{
  width:606px;
  height:500px;
  float:left;
}
